<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chalenge 5.1.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Chalenge 5.1.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Challenge 1.2.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Challenge 1.2.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Challenge 1.3.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Challenge 1.3.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Challenge 1.4.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Challenge 1.4.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Challenge 2.1.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Challenge 2.1.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Challenge 2.1.3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Challenge 2.2.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Challenge 2.2.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Challenge 2.3.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Challenge 2.3.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Challenge 2.4.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Challenge 2.4.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Challenge 3.1.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Challenge 3.1.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Challenge 3.2.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Challenge 3.2.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>Challenge 3.3.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>Challenge 3.3.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>Challenge 3.4.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>Challenge 3.4.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>Challenge 4.1.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>Challenge 4.1.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>Challenge 4.2.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>Challenge 4.2.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>Challenge 4.3.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Challenge 4.3.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Challenge 4.4.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Challenge 4.4.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>Challenge 5.2.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>Challenge 5.2.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Challenge 5.3.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>Challenge 5.3.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>Challenge 5.4.1.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>Challenge 5.4.2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>Coding_Challenges_B20.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Servierbar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>structInitAlter_Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>tictactoe_wirtz.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA0AC5512C3414AD0085A454</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA2718332C3BD780007C1488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA27183E2C3BEE5A007C1488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E81622C2D82AF00655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E81932C2D83B900655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E819E2C2D83CE00655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E81A92C2D83D400655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E81B42C2D83DC00655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E81BF2C2D83E000655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5E81CA2C2D84F700655865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA7542772C3C777600CAA82E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA9EB972C353DF8001AADCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA9EBA22C354FDF001AADCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC84EC32C39A70E007C2FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD908132C329D3000FDA6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAD908292C32ADC000FDA6C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAE982D72C369F7C008AC463</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAF890582C37E14500AC7BDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFA3AC12C33F00400423869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAFA3ACC2C33F69F00423869</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
